<%- include("partials/top")  %> 

      <h1 class="text-center py-5">Add phone</h1>
      <div class="container">
        <div class="row">
          <div class="col-8 offset-2">
            <input type="hidden" name="id" value="<%= phone.id %>">
            <input class="form-control mb-3" type="text" placeholder="Brand" name="brand" value="<%= phone.brand  %>">
            <input class="form-control mb-3" type="text" placeholder="Model" name="model" value="<%= phone.model  %>">
            <input class="form-control mb-3" type="text" placeholder="Price" name="price" value="<%= phone.price  %>">
            <input class="form-control mb-3" type="text" placeholder="Count" name="count" value="<%= phone.count  %>">
            <button id="saveChanges" class="form-control btn btn-primary">Save</button>
        </div>
      </div>
      
<%- include("partials/bottom")  %> 